common --lockfile_mode=error

build --repository_cache=~/.cache/bazel/repository_cache
build --disk_cache=~/.cache/bazel-disk-cache
build --incompatible_strict_action_env=true
build --action_env=PATH
build --host_action_env=PATH
build --action_env=LD_LIBRARY_PATH
build --host_action_env=LD_LIBRARY_PATH
build --action_env=JAVA_HOME
build --host_action_env=JAVA_HOME
build --action_env=BAZEL_JAVA_HOME
build --host_action_env=BAZEL_JAVA_HOME
build --action_env=RISCV_PREFIX
build --host_action_env=RISCV_PREFIX
build --action_env=HEXDUMP_BIN
build --host_action_env=HEXDUMP_BIN
build --action_env=LC_ALL=C
build --host_action_env=LC_ALL=C
build --action_env=TZ=UTC
build --host_action_env=TZ=UTC
